.example-container {
  padding: 1rem;
}

.example-wrapper {
  margin-bottom: 3rem;
}

.example-input-wrapper {
  display: block;
  width: 200px;
  margin-bottom: 1.5rem;
}

// owl-date-time-container{
//   background-color: red !important;
// }
#data-wrapper{
  display: none;
  width: 250px;
  position: relative;
  left:298px;
  top:-48px;
}